.checkbox-wrapper {
  margin-bottom: 25px;
}

.checkbox-wrapper__checkbox:focus + .checkbox-wrapper__label::after {
  border: 2px solid rgba(77, 144, 254, 0.6);
}

.checkbox-wrapper__label {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  display: block;
  padding-left: 48px;
  cursor: pointer;

  // background: rgba(232, 21, 186, 0.3); //временно для сетки
  // outline: 1px solid rgb(232, 21, 186); //временно для сетки

  &::before,
  &::after {
    position: absolute;
    display: block;
    top: 50%;
    transform: translate(0, -50%);
    content: "";
  }

  &::before {
    left: 5px;
    width: 21px;
    height: 16px;
    background-repeat: no-repeat;
  }

  &::after {
    left: 0;
    width: 28px;
    height: 28px;
    border: 1px solid $border;
  }

  &:hover::after {
    border-color: $inputhover;
    cursor: pointer;
  }

  &:active::before {
    opacity: 0.3;
  }

  &:active::after {
    opacity: 0.3;
  }

}

.checkbox-wrapper__checkbox:checked + .checkbox-wrapper__label::before {
  background-image: url("../img/sprites.png");
  background-position: -382px -184px;
  width: 21px;
  height: 16px;
}

@media (min-width: $tablet-width) {
 .checkbox-wrapper {
  width: 290px;
  padding-left: 40px;
 }
}

@media (min-width: $desktop-width) {
 .checkbox-wrapper {
  width: 190px;
  padding-left: 0;
 }
}
