.contacts {
  position: relative;
  line-height: 0;

&::before {
  position: absolute;
  display: block;
  top: 300px;
  left: 135px;
  content: "";
  width: 55px;
  height: 53px;
  background-image: url("../../img/map-pin.png");
  }

}

.contacts__iframe {
  position: absolute;
  top: 0px;
  left: 0;
  border: none;
}
