.diet-list {
  width: 280px;
  margin: 0 auto;
  list-style: none;
  padding: 0;

  // background: rgba(104, 212, 104, 0.3); //временно для сетки
  // outline: 1px solid rgb(104, 212, 104); //временно для сетки
}

@media (min-width: $tablet-width) {
  .diet-list {
    width: 708px;
  }
}

@media (min-width: $desktop-width) {
  .diet-list {
    width: 1220px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
