.diet-item {
  background-color: $grey;
  margin-bottom: 20px;

  background: rgba(235, 82, 153, 0.3); //временно для сетки
  outline: 1px solid rgb(235, 82, 153); //временно для сетки
}

.diet-item__header {
  position: relative;
  margin: 0;
  padding: 32px 0 32px 90px;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;

  background: rgba(212, 235, 82, 0.3); //временно для сетки
  outline: 1px solid rgb(212, 235, 82); //временно для сетки

  &::before {
    position: absolute;
    display: block;
    top: 50%;
    left: 20px;
    transform: translate(0, -50%);
    content: "";
    width: 50px;
    height: 50px;
    background-color: $green;
    border-radius: 50%;
  }

  &::after {
    position: absolute;
    display: block;
    left: 10px;
    top: 50%;
    transform: translate(0, -50%);
    content: "";
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-position: center;
  }

}

.diet-item__header--slim::after {
  top: 45%;
  background-image: url("../img/Vector Smart Object.png");
}

.diet-item__header--strong::after {
  background-image: url("../img/Vector Smart Object copy 2.png");
}

.diet-item__text {
  width: 240px;
  margin: 0 auto;
  padding-bottom: 20px;
  border-bottom: 1px solid $border;

  background: rgba(212, 235, 82, 0.3); //временно для сетки
  outline: 1px solid rgb(212, 235, 82); //временно для сетки
}

.diet-item__link {
  position: relative;
  display: block;
  padding: 20px;
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;

  background: rgba(212, 235, 82, 0.3); //временно для сетки
  outline: 1px solid rgb(212, 235, 82); //временно для сетки

  &::after {
    position: absolute;
    display: block;
    top: 50%;
    left: 120px;
    transform: translate(0, -50%);
    content: "";
    width: 24px;
    height: 11px;
    background-image: url("../img/right-arrow-long.png");
  }

  &:hover::after {
    width: 33px;
    background-image: url("../img/right-arrow-verylong.png");
  }

  &:active {
    opacity: 0.3;
  }

}

@media (min-width: $tablet-width) {
  .diet-item__text {
    width: 380px;
    border-bottom: none;
    padding-right: 220px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 24px;
  }

  .diet-item__header {
    width: 600px;
    margin: 0 auto;
    padding-top: 68px;
    padding-left: 0px;
    font-size: 36px;
    line-height: 37px;

    &::before {
      width: 200px;
      height: 200px;
      top: 150%;
      left: 400px;
    }
  }

  .diet-item__header--slim::after {
    width: 140px;
    height: 194px;
    top: 135%;
    left: 430px;
    background-image: url("../img/Vector Smart Object copy 2_tablet.png");
  }

  .diet-item__header--strong::after {
    width: 268px;
    height: 112px;
    top: 150%;
    left: 360px;
    background-image: url("../img/Vector Smart Object_tablet.png");
  }

  .diet-item__link {
    width: 600px;
    margin: 0 auto;
    padding: 58px 0;
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $tablet-width) {
  .diet-item {
    width: 570px;
  }

  .diet-item__header {
    width: 370px;
    padding: 75px 0 75px 200px;

  &::before {
    top: 50%;
    left: 50px;
    width: 100px;
    height: 100px;
  }

  &::after {
    left: 30px;
    top: 50%;
    width: 140px;
    height: 100px;
  }

}

.diet-item__header--slim::after {
  top: 45%;
  background-image: url("../img/cat-slim.png");
}

.diet-item__header--strong::after {
  background-image: url("../img/cat-pro.png");
}

.diet-item__text {
  width: 470px;
  padding:0 50px;

  background: rgba(212, 235, 82, 0.3); //временно для сетки
  outline: 1px solid rgb(212, 235, 82); //временно для сетки
}

.diet-item__link {
  width: 500px;
  padding: 20px;
  padding-left: 50px;
  margin-bottom: 40px;

  background: rgba(212, 235, 82, 0.3); //временно для сетки
  outline: 1px solid rgb(212, 235, 82); //временно для сетки

  &::after {
    left: 170px;
  }
}
}
