.diet {
  width: 320px;
  margin: 0 auto;

  background: rgba(82, 148, 235, 0.5); //временно для сетки
  outline: 1px solid rgb(82, 148, 235); //временно для сетки
}

@media (min-width: $tablet-width) {
  .diet {
    width: $tablet-width;
  }
}

@media (min-width: $desktop-width) {
  .diet {
    margin-top: 80px;
    width: $desktop-width;
  }
}
