.extra-goods-item {
  border-top: 1px solid $border;
}

.extra-goods-item__header {
  margin: 0;
  padding: 16px 0;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 400;
}

.extra-goods-item__button {
  margin: 15px 0;
}
