.extra-goods {
  margin-top: 80px;
  border-bottom: 1px solid $border;

  background: rgba(104, 122, 212, 0.3); //временно для сетки
  outline: 1px solid rgb(104, 122, 212); //временно для сетки
}

.extra-goods__header {
  position: relative;
  display: block;
  width: 280px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 400;

  background: rgba(232, 183, 21, 0.3); //временно для сетки
  outline: 1px solid rgb(232, 183, 21); //временно для сетки

  &::before,
  &::after {
    display: block;
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translate(-50%, 0);
    content: "";
    width: 30px;
    height: 2px;
    background-color: $border;
  }

  &::before {
    transform: rotate(90deg);
    left: calc(50% - 15px);
  }
}

.extra-goods__explanation {
  display: block;
  width: 280px;
  margin-bottom: 20px;
  text-align: center;
  font-family: Arial;
  font-size: 12px;
  line-height: 16px;

  background: rgba(232, 183, 21, 0.3); //временно для сетки
  outline: 1px solid rgb(232, 183, 21); //временно для сетки
}

.extra-goods__button {
  color: #000000;
  background-color: $grey;
  margin-bottom: 24px;

  &:hover {
    background-color: $border;
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .extra-goods {
    display: block;
    height: auto;
    margin-top: 140px;
    box-sizing: border-box;
    border: 1px solid $grey;
  }

  .extra-goods__header {
    width: 140px;
    margin: 165px auto 25px auto;
    font-size: 20px;
    line-height: 20px;

    &::before,
    &::after {
      top: -80px;
      width: 60px;
    }

    &::before {
      left: calc(50% - 30px);
    }
  }

  .extra-goods__explanation {
    width: 175px;
    margin: 0 auto 85px auto;
    font-size: 16px;
  }

  .extra-goods__button {
    margin: 0 auto 40px auto;
  }
}
