.extra-description-table {
  font-family: Arial;
  font-size: 12px;
  line-height: 16px;
}

.extra-table-row__extra-table-cell {
  width: 140px;
}

.extra-table-row__extra-table-cell--col2 {
  text-align: right;
}
