.facts-list {
  width: 280px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .facts-list {
    width: 365px;
  }
}
