.fact-item {
  position: relative;
  width: 123px;
  padding: 16px 0;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  border: 1px solid $border;
  text-align: center;

  background: rgba(232, 232, 21, 0.3); //временно для сетки
  outline: 1px solid rgb(232, 232, 21); //временно для сетки
}

.fact-item__description {
  position: absolute;
  width: 80px;
  top: 48px;
  left: 50%;
  transform: translate(-50%, 0);
  font-family: Arial;
  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;
  background-color: $grey;
}

@media (min-width: $tablet-width) {
  .fact-item {
    width: 160px;
    font-size: 30px;
    line-height: 37px;
  }

  .fact-item__description {
    width: 140px;
    top: 60px;
    font-size: 14px;
    line-height: 14px;
  }
}
