.facts-list-wrapper {
  display: flex;
  flex-wrap: wrap;

  // background: rgba(154, 612, 604, 0.3); //временно для сетки
  // outline: 1px solid rgb(154, 612, 604); //временно для сетки
}

.facts-list-wrapper__facts-list {
  // background: rgba(104, 212, 104, 0.3); //временно для сетки
  // outline: 1px solid rgb(104, 212, 104); //временно для сетки
}

.facts-list-wrapper__cost-wrapper {
  width: 280px;
  margin: 0 auto;
  margin-top: 40px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  text-align: center;

  // background: rgba(104, 212, 104, 0.3); //временно для сетки
  // outline: 1px solid rgb(104, 212, 104); //временно для сетки
}

@media (min-width: $tablet-width) {
  .facts-list-wrapper__cost-wrapper {
    width: 175px;
    margin: 7px 0;
    margin-left: auto;
    text-align: right;
    font-size: 20px;
    line-height: 20px;
  }

  .facts-list-wrapper__cost {
    display: block;
    margin: 6px 0;
  }
}

@media (min-width: $desktop-width) {
  .facts-list-wrapper {
    width: 365px;
  }

  .facts-list-wrapper__cost-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 60px;
    text-align: center;
  }
}
