.form {

}

.form__header {
  margin: 20px;
}

.form__description {
  width: 230px;
  margin: 0 0 40px 20px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.form__cat-info {
  padding: 0;
  border: none;
}

.form__contacts-info,
.form__comment-info,
.form__extra-info {
  padding: 0;
  padding: 0 20px;
  border: none;
}

.form__button {
  margin: 20px;
}

.form__reminder {
  display: block;
  margin-bottom: 35px;
  text-align: center;
  color: #444444;
  font-family: Arial;
  font-size: 14px;
  line-height: 16px;
}
