.form {
  width: 280px;
  margin: 0 auto;

  background: rgba(232, 183, 21, 0.3); //временно для сетки
  outline: 1px solid rgb(232, 183, 21); //временно для сетки
}

.form__header {
  width: 280px;
  margin: 0 auto;
  background: rgba(35, 21, 232, 0.3); //временно для сетки
  outline: 1px solid rgb(35, 21, 232); //временно для сетки
}

.form__description {
  width: 280px;
  margin: 20px auto 40px auto;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  background: rgba(35, 21, 232, 0.3); //временно для сетки
  outline: 1px solid rgb(35, 21, 232); //временно для сетки
}

.form__cat-info {
  padding: 0;
  border: none;
}

.form__contacts-info,
.form__comment-info,
.form__extra-info {
  width: 280px;
  margin: 0 auto;
  padding: 0;
  border: none;

  background: rgba(35, 21, 232, 0.3); //временно для сетки
  outline: 1px solid rgb(35, 21, 232); //временно для сетки
}

.form__button {
  margin: 20px;
}

.form__reminder {
  display: block;
  padding-bottom: 35px;
  text-align: center;
  color: #444444;
  font-family: Arial;
  font-size: 14px;
  line-height: 16px;

  background: rgba(35, 21, 232, 0.3); //временно для сетки
  outline: 1px solid rgb(35, 21, 232); //временно для сетки
}
