.goods-list {
  list-style: none;
  padding: 0;

  background: rgba(46, 232, 21, 0.3); //временно для сетки
  outline: 1px solid rgb(46, 232, 21); //временно для сетки
}

.goods-item {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid $border;
}

.goods-item__img {
  width: 140px;
  height: 144px;
  background-repeat: no-repeat;
}

.goods-item__img--1 {
  background-image: url("../../img/catalog-1-mobile.png");
}

.goods-item__img--2 {
  background-image: url("../../img/catalog-2-mobile.png");
}

.goods-item__img--3 {
  background-image: url("../../img/catalog-3-mobile.png");
}

.goods-item__img--4 {
  background-image: url("../../img/catalog-4-mobile.png");
}

.goods-item__img--5 {
  background-image: url("../../img/catalog-5-mobile.png");
}

.goods-item__img--6 {
  background-image: url("../../img/catalog-6-mobile.png");
}

.goods-item__img--7 {
  background-image: url("../../img/catalog-7-mobile.png");
}

.goods-description__order-button {
  margin: 0 auto;
  margin-bottom: 25px;
}

@media (min-width: $tablet-width) {
  .goods-list {
    display: flex;
    flex-wrap: wrap;
  }

  .goods-item {
    position: relative;
    width: 324px;
    margin-top: 140px;
    background-color: $grey;
  }

   .goods-item:nth-child(odd) {
    margin-right: 60px;
  }

  .goods-item__img {
    position: absolute;
    top: -45px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 195px;
    height: 208px;
    background-position: center;
  }

  .goods-item:nth-child(even) .goods-item__img {
    top: -78px;
  }

  .goods-item__img--1 {
    background-image: url("../../img/catalog-1-tablet.png");
  }

  .goods-item__img--2 {
    background-image: url("../../img/catalog-2-tablet.png");
  }

  .goods-item__img--3 {
    background-image: url("../../img/catalog-3-tablet.png");
  }

  .goods-item__img--4 {
    background-image: url("../../img/catalog-4-tablet.png");
  }

  .goods-item__img--5 {
    background-image: url("../../img/catalog-5-tablet.png");
  }

  .goods-item__img--6 {
    background-image: url("../../img/catalog-6-tablet.png");
  }

  .goods-item__img--7 {
    background-image: url("../../img/catalog-7-tablet.png");
  }
}
