.goods-description {
  width: 140px;

  background: rgba(232, 21, 119, 0.3); //временно для сетки
  outline: 1px solid rgb(232, 21, 119); //временно для сетки
}

.goods-description__header {
  width: 80px;
  margin: 20px 0 10px 0;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 400;

  background: rgba(232, 183, 21, 0.3); //временно для сетки
  outline: 1px solid rgb(232, 183, 21); //временно для сетки
}

.goods-description__description-table {
  background: rgba(232, 183, 21, 0.3); //временно для сетки
  outline: 1px solid rgb(232, 183, 21); //временно для сетки
}
