.menu-button {
  position: relative;
  border: none;
  background-color: #000000;
  width: 24px;
  height: 2px;
  outline: none;

  &:hover {
    cursor: pointer;
  }

  &:hover,
  &:hover::before,
  &:hover::after {
    opacity: 0.6;
  }

  &:active,
  &:active::before,
  &:active::after {
    opacity: 0.3;
  }

  &::before,
  &::after {
    position: absolute;
    left: 0;
    display: block;
    content: "";
    width: 24px;
    height: 2px;
    background-color: #000000;
  }

  &::before {
    top: -6px;
    border-bottom: 3px solid #ffffff;
  }

  &::after {
    top: 3px;
    border-top: 3px solid #ffffff;
  }

}

.menu-button--menu-open { //вид кнопки когда меню открыто
  background-color: transparent;
  height: 20px;

  &::before,
  &::after {
    top: 9px;
    border: 0;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

}


