@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.menu-list {
  display: none;
  width: 320px;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 20px;
}

.menu-list--nojs {
  display: block;
}

.menu-list--open { //для открытия меню
  display: block;
  animation-name: slideInDown, fadeIn;
  animation-duration: 0.3s, 1s;
}

.menu-item {
  padding: 26px 0;
  text-align: center;
  border-bottom: 1px solid $border;
}

.menu-item__link {
  text-decoration: none;
  color: #000000;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

}

.menu-item__link--active {
  padding-bottom: 4px;
  border-bottom: 2px solid $green;
}

@media (min-width: $tablet-width) {
  .menu-list {
    margin: 0;
    width: 450px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
  }

  .menu-item {
    border: none;
    line-height: 25px;
  }
}
