.promo-header {
  width: 320px;
  min-height: 305px;
  background: url("../img/index-background-mobile.jpg");

  outline: 1px solid rgb(55, 35, 255); //временно для сетки
}

.promo-header__header {
  width: 280px;
  margin: 0 auto;
  padding: 26px 0;
  color: #ffffff;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  font-weight: 400;

  background: rgba(212, 235, 82, 0.3); //временно для сетки
  outline: 1px solid rgb(212, 235, 82);; //временно для сетки
}

.promo-header__tagline {
  width: 280px;
  margin: 0 auto;
  color: #ffffff;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;

  background: rgba(212, 235, 82, 0.3); //временно для сетки
  outline: 1px solid rgb(212, 235, 82);; //временно для сетки
}

.promo-header__button {
  position: absolute;
  top: 415px;
  left: 50%;
  transform: translate(-50%, 0);
}

@media (min-width: $tablet-width) {
  .promo-header {
    width: 530px;
    background: none;
  }

  .promo-header__header {
    width: 425px;
    margin: 0;
    text-align: left;
    color: #000000;
    font-size: 60px;
    line-height: 60px;
  }

  .promo-header__tagline {
    width: 425px;
    margin: 0;
    text-align: left;
    color: #000000;
    font-size: 20px;
    line-height: 20px;
    margin: 40px 0;
  }

  .promo-header__button {
    position: static;
    top: 0;
    left: 0;
    transform: none;
  }

}
