.promotion {
  position: relative;
  width: 320px;
  min-height: 480px;
  margin: 0 auto;

  background: rgba(104, 122, 212, 0.3); //временно для сетки
  outline: 1px solid rgb(104, 122, 212); //временно для сетки
}

.promotion__promo-header {
  margin: 0 auto;
}

.promotion__img {
  position: absolute;
  top: 165px;
  left: 50%;
  transform: translate(-50%, 0);

  background: rgba(212, 235, 82, 0.3); //временно для сетки
  outline: 1px solid rgb(212, 235, 82); //временно для сетки

  width: 280px;
  height: 270px;
  background-image: url("../img/index-can-mobile.png");
  background-repeat: no-repeat;
}

@media (min-width: $tablet-width) {
  .promotion {
    width: $tablet-width;
    min-height: 850px;
    background: url("../img/index-can-tablet.png") no-repeat bottom right;
  }

  .promotion__img {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .promotion {
    width: $desktop-width;
    background-image: url("../img/index-can.png");
    background-position: 560px 0;
    min-height: 590px;
  }

  .promotion__promo-header {
    margin: 0;
  }

  .promotion__img {
    display: block;
    width: 720px;
    height: 696px;
    top: -105px;
    right: 0;
    transform: translate(0, 0);
    background: url("../img/index-background-desktop.jpg");
    z-index: -1;
  }
}
