.range-controls {
  position: relative;
}

.range-controls__scale {
 width: 428px;
 height: 6px;
 background: #dcdcdc;
 border-radius: 10%;
}

.range-controls__range-toggle {
  position: absolute;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  top: -7px;
  width: 4px;
  height: 4px;
  background-color: $green;
  border: 8px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);

  &:hover {
    cursor: pointer;
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.25);
  }
}

.range-controls__range-toggle {
  left: 50%;
  transform: translate(-50%, 0);
}
