.site-header {
  display: flex;
  width: 280px;
  margin: 0 auto;
  min-height: 65px;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  border-bottom: 1px solid #e6e6e6;
}
