.site-footer {
  width: 320px;
  margin: 0 auto;
  background-color: $grey;

  min-height: 598px; //временно для сетки
  background: rgba(110, 204, 116, 0.3); //временно для сетки
  outline: 1px solid rgb(110, 204, 116); //временно для сетки
}
