.slide {
  display: none;
  position: relative;
}

.slide--active {
  display: block;
}

.slide__img {
  position: relative;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);

  background: rgba(232, 232, 21, 0.3); //временно для сетки
  outline: 1px solid rgb(232, 232, 21); //временно для сетки
}

.slider__slider-checkbox-wrapper {
  margin-top: 40px;
  padding-bottom: 35px;

  background: rgba(232, 232, 21, 0.3); //временно для сетки
  outline: 1px solid rgb(232, 232, 21); //временно для сетки
}
