.social-link {
  display: block;
  width: 64px;
  height: 64px;
  background-position: center;
  background-repeat: no-repeat;
}

.social-link--vk {
  background-image: url("../../img/vk.png");
  // transform: scale(0.75);

&:hover {
  background-image: url("../../img/vk.svg copy.png");
 }

&:active {
  opacity: 0.3;
  }

}

.social-link--in {
  background-image: url("../../img/insta.png");
  // transform: scale(0.69);

&:hover {
  background-image: url("../../img/insta.svg copy.png");
 }

&:active {
  opacity: 0.3;
  }

}

.social-link--fb {
  background-image: url("../../img/fb.png");
  // transform: scale(0.69);

&:hover {
  background-image: url("../../img/fb.svg copy.png");
 }

&:active {
  opacity: 0.3;
  }

}
