.steps-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.steps-list__step-item {
  margin-bottom: 20px;
}

.step-item {
  position: relative;
  padding-left: 80px;

  background: rgba(21, 38, 232, 0.3); //временно для сетки
  outline: 1px solid rgb(21, 38, 232); //временно для сетки


  &::before {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    content: "";
    width: 60px;
    height: 60px;
    background-color: $green;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.step-item--leave::before {
  background-image: url("../../img/advantage-1.png");
}

.step-item--powder::before {
  background-image: url("../../img/advantage-2.png");
}

.step-item--tableware::before {
  background-image: url("../../img/advantage-3.png");
}

.step-item--clock::before {
  background-image: url("../../img/advantage-4.png");
}

@media (min-width: $tablet-width) {
  .steps-list {
    display: flex;
    flex-wrap: wrap;
  }

  .step-item {
    padding-left: 0;
    padding: 120px 0;
    width: 224px;
    padding-right: 130px;
    font-size: 16px;
    line-height: 24px;

    &::before {
      width: 80px;
      height: 80px;
      top: 0;
      transform: none;
    }

    &::after {
      position: absolute;
      font-size: 280px;
      line-height: 280px;
      color: #f2f2f2;
      top: -35px;
      left: 100px;
      font-family: Oswald;
      transform: none;
      z-index: -1;
    }
  }

  .step-item:nth-child(1)::after {
   content: "1";
 }

 .step-item:nth-child(2)::after {
   content: "2";
 }

 .step-item:nth-child(3)::after {
   content: "3";
 }

 .step-item:nth-child(4)::after {
   content: "4";
 }

}
