.steps-list {
  list-style: none;
  padding: 0;
}

.steps-list__step-item {
  margin-bottom: 20px;
}

.step-item {
  position: relative;
  padding-left: 80px;

&::before {
  position: absolute;
  display: block;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  content: "";
  width: 60px;
  height: 60px;
  background-color: $green;
  background-repeat: no-repeat;
  background-position: center;
  }
}

.step-item--leave::before {
  background-image: url("../../img/advantage-1.png");
}

.step-item--powder::before {
  background-image: url("../../img/advantage-2.png");
}

.step-item--tableware::before {
  background-image: url("../../img/advantage-3.png");
}

.step-item--clock::before {
  background-image: url("../../img/advantage-4.png");
}
