.logo-link {
  display: block;
  width: 33px;
  height: 38px;

  // outline: 1px solid rgb(82, 235, 110); //временно для сетки

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

}

@media (min-width: $tablet-width) {
  .logo-link {
    width: 173px;
    height: 58px;

    // outline: 1px solid rgb(82, 235, 110); //временно для сетки
  }
}

@media (min-width: $desktop-width) {
  .logo-link {
    width: 202px;
    height: 59px;

    // outline: 1px solid rgb(82, 235, 110); //временно для сетки
  }
}
