.social-block {
  width: 280px;
  margin: 0 auto;

  // background: rgba(287, 100, 194, 0.3); //временно для сетки
  // outline: 1px solid rgb(287, 100, 194); //временно для сетки
}

.social-block__shop-name {
  display: block;
  text-align: center;
  padding: 47px 0;

  // background: rgba(185, 87, 194, 0.3); //временно для сетки
  // outline: 1px solid rgb(185, 87, 194); //временно для сетки
}

@media (min-width: $tablet-width) {
  .social-block {
    min-height: 150px;
    width: 708px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: $desktop-width) {
  .social-block {
    width: 1220px;
  }
}
