.extra-description-table {
  font-family: Arial;
  font-size: 12px;
  line-height: 16px;
  border-collapse: collapse;
}

.extra-table-row__extra-table-cell {
  width: 140px;
}

.extra-table-row__extra-table-cell--col2 {
  text-align: right;
}

@media (min-width: $tablet-width) {
  .extra-description-table  {
    font-size: 16px;
    line-height: 20px;
  }

  .extra-table-row__extra-table-cell {
    padding: 25px 0;
    text-align: right;
  }

  .extra-table-row__extra-table-cell--col2 {
    width: 96px;
  }
}

@media (min-width: $desktop-width) {
  .extra-table-row__extra-table-cell {
    text-align: left;
  }

  .extra-table-row__extra-table-cell--col1 {
    width: 240px;
  }

    .extra-table-row__extra-table-cell--col2 {
    width: 45px;
  }
}
