.contacts {
  position: relative;
  line-height: 0;
  width: 320px;
  height: 400px;
  margin: 0 auto;
  background-image: url("../img/map-mobile.jpg");
  background-repeat: no-repeat;

  &::before {
    position: absolute;
    display: block;
    top: 180px;
    left: 135px;
    content: "";
    width: 55px;
    height: 53px;
    background-image: url("../img/map-pin.png");
  }
}

.contacts__iframe {
  position: absolute;
  top: 0;
  left: 0;
  border: none;
}

@media (min-width: $tablet-width) {
  .contacts {
    width: $tablet-width;
    background-image: url("../img/map-tablet.jpg");

    &::before {
      top: 200px;
      left: 370px;
    }
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    width: $desktop-width;
    background-image: url("../img/map.jpg");

    &::before {
      top: 200px;
      left: 1040px;
    }
  }
}
