.slider-checkbox-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 200px;

  margin: 40px auto 0 auto;
  padding-bottom: 35px;

  position: relative;
}

.slider-checkbox-wrapper__label {
  padding-bottom: 2px;
  position: relative;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  border-bottom: 1px dotted #bebebe;

  // background: rgba(21, 95, 232, 0.3); //временно для сетки
  // outline: 1px solid rgb(21, 95, 232); //временно для сетки

  &:hover {
    cursor: pointer;
    border-bottom: 1px solid #989898;
  }

  &:active {
    border-bottom: 1px solid transparent;
  }
}

.slider-checkbox-wrapper__checkbox-wrapper {
  position: relative;
  width: 84px;
  height: 14px;
  background-color: #ffffff;
  border-radius: 50px;
  border: 1px solid $border;
}

.slider-checkbox-wrapper__checkbox-wrapper,
.toggle {
  border-radius: 50px;
}

.checkbox-wrapper__input {
  position: relative;

  width: 84px;
  height: 14px;

  padding: 0;
  margin: 0;

  opacity: 0; //скрывает чекбокс
  cursor: pointer;

  &:focus {
    border: 1px solid rgba(77, 144, 254, 0.6);
  }

  &:checked + .checkbox-wrapper__toggle::before {
    left: 42px;
  }
}

.checkbox-wrapper__toggle {

  &:before {
    content: '';
    position: absolute;
    width: 34px;
    height: 6px;
    border-radius: 20%;
    top: 50%;
    left: 6px;
    transform: translate(0, -50%);
    background: $green;
    box-shadow: 0 2px 5px rgba(0,0,0, 0.2);
    transition: 0.3s ease all;
  }
}

.slider-checkbox-wrapper__range-controls {
  display: none;
}

@media (min-width: $tablet-width) {
  .slider-checkbox-wrapper {
    width: 570px;

    padding-top: 370px;
  }

  .slider-checkbox-wrapper__checkbox-wrapper {
    display: none;
  }

  .slider-checkbox-wrapper__range-controls {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .slider-checkbox-wrapper {
    padding-top: 325px;
  }
}
