.social-link {
  display: block;
  width: 64px;
  height: 64px;
  background-position: center;
  background-repeat: no-repeat;
}

.social-link--vk {
  background-image: url("../img/sprites.png");
  background-position: -518px -70px;

  &:hover {
    background-image: url("../img/sprites.png");
    background-position: -519px -143px;
  }

  &:active {
    opacity: 0.3;
  }

}

.social-link--in {
  background-image: url("../img/sprites.png");
  background-position: -520px -278px;

  &:hover {
    background-image: url("../img/sprites.png");
    background-position: -591px -278px;
  }

  &:active {
    opacity: 0.3;
  }

}

.social-link--fb {
  background-image: url("../img/sprites.png");
  background-position: -520px -216px;

  &:hover {
    background-image: url("../img/sprites.png");
    background-position: -590px -216px;
  }

  &:active {
    opacity: 0.3;
  }

}
