.goods-description {
  width: 140px;

  // background: rgba(132, 21, 119, 0.3); //временно для сетки
  // outline: 1px solid rgb(132, 21, 119); //временно для сетки
}

.goods-description__header {
  width: 80px;
  margin: 20px 0 10px 0;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 400;

  // background: rgba(232, 183, 21, 0.3); //временно для сетки
  // outline: 1px solid rgb(232, 183, 21); //временно для сетки
}

@media (min-width: $tablet-width) {
  .goods-description {
    margin-top: 165px;
    width: 100%;
  }

  .goods-description__header {
    width: 130px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}

@media (min-width: $desktop-width) {
  .goods-description {
    width: 170px;
    margin: 165px auto 0 auto;
  }

  .goods-description__order-button {
    width: 170px;
  }
}
