.extra-questions {
  // background: rgba(35,21,232,.3); //для сетки
  // outline: 1px solid #2315e8; //для сетки
}

// .extra-questions__header {
//   width: 160px;
// }

@media (min-width: $tablet-width) {
  .extra-questions__extra-info {
    width: 708px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
//   .extra-questions__header {
//   width: 290px;
// }
}

@media (min-width: $desktop-width) {
  .extra-questions__extra-info {
    width: 1220px;
  }
}
