.goods-list {
  list-style: none;
  padding: 0;

  // background: rgba(46, 232, 21, 0.3); //временно для сетки
  // outline: 1px solid rgb(46, 232, 21); //временно для сетки
}

.goods-item {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid $border;
}

.goods-item__img {
  width: 140px;
  height: 144px;
  background-repeat: no-repeat;
}

.goods-description__order-button {
  margin: 0 auto;
  margin-bottom: 25px;
}

@media (min-width: $tablet-width) {
  .goods-list {
    display: flex;
    flex-wrap: wrap;
  }

  .goods-item {
    position: relative;
    width: 324px;
    margin-top: 140px;
    background-color: $grey;
  }

   .goods-item:nth-child(odd) {
    margin-right: 60px;
  }

  .goods-item__img {
    position: absolute;
    top: -45px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 195px;
    height: 208px;
    background-position: center;
  }

  .goods-item:nth-child(even) .goods-item__img {
    top: -78px;
  }
}

@media (min-width: $desktop-width) {
  .goods-item {
    width: 245px;
  }

  .goods-item:nth-child(odd) {
    margin-right: 80px;
  }

   .goods-item {
    margin-right: 80px;
  }

   .goods-item:nth-child(4n) {
    margin-right: 0;
  }
}
